<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://localhost:3000/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	
<div class="container">
		<div class="pure-g">
			
			<!-- NAVBAR -->
			<div class="pure-u-1-1">
				<nav class="pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item"><a href="/forums" class="pure-menu-link">Home</a></li>
						<li class="pure-menu-item"><a href="/login" class="pure-menu-link">Log out</a></li>
						<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
							<a href="#" id="menulink1" class="pure-menu-link">Sub Forums</a>
							<ul class="pure-menu-children">

							<% subs.forEach(function(sub){ %>
								<li class="pure-menu-item"><a href='/forums/<%=id%>/sub/<%=sub.subforums_id%>' class="pure-menu-link"> <%= sub.topic %>
									</a>
								</li>	
								<% }) %>

							</ul>
						</li>
					</ul>	
				</nav>
			</div>
			<!-- NAVBAR -->

			<!-- BANNER -->
			<div class="pure-u-5-24">
			</div>
			<div class="pure-u-14-24 banner">
				<img class="pure-img" src="/banner.png">
			</div>
			<div class="pure-u-5-24">
			</div>
			<!-- BANNER -->

			<!-- TITLE -->
			<div class="pure-u-1-1 title">
				<p><%= thread.title %></p>
			</div>
			<!-- TITLE -->

			<!-- ENTRY -->
			<div class="pure-u-1-1 desc">
				<p class="desc-font"><%= thread.description %></p>
			</div>	
			<!-- ENTRY -->
			<div class="bar"></div>
			<!-- BUTTONS	 -->
			<div class="pure-u-1-1 stuff">
				<div class="pure-u-12-24">
					<form action='/forums/<%=id%>/gallery/<%=thread.threads_id%>' method='POST' class="pure-form image-form">
						<input type="text" name="url">
						<button class="pure-button">Add image</button>
					</form>
				</div>
				<div class="pure-u-9-24">
					<form  id="upvote" action='/forums/<%=id%>/upvote/<%=thread.threads_id%>?_method=PUT' method='POST'>
						<input class="hide" type='hidden' name='upvote' value='<%=thread.upvotes%>'>
						<div class="thumbs">
							<i class="fa fa-thumbs-o-up"></i> <strong> <%=thread.upvotes%></strong>
						</div>
						<button class="pure-button upvote">upvote</button>
					</form>
				</div>
				<div class="pure-u-2-24">
					<a class="gallery-button pure-button" href="/forums/<%=id%>/gallery/<%=thread.threads_id%>">Gallery</a>
				</div>
			</div>		
			<!-- BUTTONS -->

			
			<div class="cont">
			<!-- COMMENTS -->
			<% comments.forEach(function(comment){ %>
				<div class="pure-u-2-24">
				</div>
				<div class="pure-u-20-24 com">
					<p class="comment"> <%=comment.comment%> </p>
					<p class="status">&nbsp	&nbsp - commented by: <%=comment.name%> 
					</p>
				</div>
			<%	}) %>
			<!-- COMMENTS -->
			<hr>
			<!-- NEW COMMENT FORM -->
			<div class="pure-u-1-1">
				<form action='/forums/<%=id%>/comment/<%=thread.threads_id%>' method='POST' class='pure-form pure-form-stacked'>
					<fieldset>
						<label class="label" for='thread'>Enter comment</label><br><br>
						<textarea rows="3" cols="35" name="text">
						</textarea>
						<button class="pure-button pure-button-primary">Submit</button>
					</fieldset>	
				</form>
			</div>
			<!-- NEW COMMENT FORM -->
		</div>


			

		</div>
	</div>


	
</body>
</html>