<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body class="container">		
			<!-- NAVBAR -->
	<div class="ui small menu">
		<img src="/photos/logo.png" class="item" width="150" height="50">
			
		<div class="right menu">
			<select class="ui search dropdown item select" onChange="window.location.href=this.value">
				<option value="">Subforums</option>
				<% subs.forEach(function(sub){ %>
				<option value="/forums/sub/<%=sub.subforums_id%>"> <%= sub.topic %> </option>
				<% }) %>
			</select>
			<img src="<%=image%>" width="60" height="50">
			<a class="ui inverted red button" id="logout" href="/logout">LOG OUT</a>
		</div>
	</div>
			<!-- NAVBAR -->
	<div class="ui centered grid" id="thread-container">
		<div class="twelve wide column">
			<div class="ui items">
			  <div class="item">
			    <div class="image">
			      <img src="<%=thread.creator%>">
			    </div>
			    <div class="content">
			      <p class="header"><%= thread.title %></p>
			      <div class="meta">
			        <span>by: <%= thread.name %></span>
			      </div>
			      <div class="description">
			        <p><%= thread.description %></p>
			      </div>
			    </div>
			  </div>
			</div>

			<div class='ui horizontal divider'><i class='road icon'></i></div>


			<div class="ui grid">
				<div class="eight wide column">
					<form action='/forums/gallery/<%=thread.threads_id%>' method='POST' class="ui form">
						<div class="field">
							<div class="two fields">
								<div class="field">
									<input type="text" name="url">
								</div>
								<div class="field">
									<button class="ui primary button">Add image</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				
				<div class="eight wide column">
					<div class="ui grid">
						<div class="six wide column"></div>
						<div class="six wide column">
							<form  id="upvote" action='/forums/upvote/<%=thread.threads_id%>?_method=PUT' method='POST' class="ui form">
								<input class="hide" type='hidden' name='upvote' value='<%=thread.upvotes%>'>
								<div class="ui labeled button" tabindex="0"> 
									<button class="ui red button"> <i class="heart icon"></i> 
										Like 
									</button> 
									<p class="ui basic red left pointing label"> <%=thread.upvotes%> </p>
								</div>
							</form>
						</div>
						<div class="four wide column">
							<a class="ui green button" href="/forums/gallery/<%=thread.threads_id%>">Gallery</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="ui minimal comments">
 				<h3 class="ui dividing header">Comments</h3>
 				<% comments.forEach(function(comment){ %>
  				<div class="comment">
    				<a class="avatar">
      				<img src="<%=comment.creator%>" width="70" height="50">
    				</a>
    				<div class="content">
      				<a class="author"><%=comment.name%></a>
      				<div class="metadata">
       	 			<span class="date"><%=comment.time%></span>
      				</div>
      				<div class="text">
       	 				<%=comment.comment%>
      				</div> 
						</div>
					</div>
				<%	}) %>
  			<form action='/forums/comment/<%=thread.threads_id%>' method='POST' class="ui reply form">
    			<div class="field">
     	 			<textarea name="text"></textarea>
    			</div>
    			<button class="ui blue labeled submit icon button">
      			<i class="icon edit"></i> Add Reply
    			</button>
  			</form>
			</div>	

		</div>
	</div>	

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="/script.js"></script>
</body>
</html>