<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	<script type="text/javascript"> var idx=window.location.toString().indexOf("#_=_"); if (idx>0) { window.location = window.location.toString().substring(0, idx); } </script>
</head>
</head>
<body>
	<div class="ui small menu">
		<img src="/photos/logo.png" class="item" width="150" height="50">
			
		<div class="right menu">
			<img src="<%=image%>" width="60" height="50">
			<a class="ui inverted red button" id="logout" href="/logout">LOG OUT</a>
		</div>
	</div>

	<div class="ui centered grid" id="topic-container">
		<div class="fourteen wide column">
			<table class="ui blue table">
			  <thead>
			    <tr><th></th>
			    <th>Created By</th>
			    <th>Date Created</th>
			  </tr>
				</thead>
			  <tbody>
			  	<% subs.forEach(function(sub){ %>
			    <tr>
			      <td><i class="road icon"></i><a href='/forums/sub/<%=sub.subforums_id%>' class="topic"><%= sub.topic %></a></td>
			      <td><img src="<%=sub.creator%>" width="70" height="50"></td>
			      <td><%= sub.time %></td>
			    </tr>
			    <% }) %>
			  </tbody>
			</table>
			<div class="ui inverted segment">
				<form class="ui inverted form" action='/forums/new' method='POST'>
					<div class="field">
    			   <label>Create New Topic</label>
    			   <input placeholder="Country" type="text" name='name'>
    			 </div>
    			<button class="ui primary button">Submit</button>
				</form>
			</div>
		</div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="/script.js"></script>
</body>
</html>




