<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>
	<div class="ui small menu">
		<img src="/photos/logo.png" class="item" width="150" height="50">
			
		<div class="right menu">
			<select class="ui search dropdown item select" onChange="window.location.href=this.value">
				<option value="">Subforums</option>
				<% subs.forEach(function(sub){ %>
				<option value="/forums/sub/<%=sub.subforums_id%>"> <%= sub.topic %> </option>
				<% }) %>
			</select>
			<img src="<%=image%>" width="60" height="50">
			<a class="ui inverted red button" id="logout" href="/logout">LOG OUT</a>
		</div>
	</div>

	<div class="ui centered grid" id="thread-container">
		<div class="fourteen wide column">
			<div class="ui inverted segment">sdlfj sdflkjsdjfsdfasdfs</div>
			<table class="ui blue table">
			  <thead>
			    <tr><th></th>
			    <th>Comments</th>
			    <th>Upvotes</th>
			    <th>Posted by</th>
			    <th></th>
			  </tr>
				</thead>
			  <tbody>
			  	<% threads.forEach(function(thread){ %>
			    <tr>
			      <td><i class="square icon"></i><a href='/forums/thread/<%=thread.threads_id%>' class="thread"><%=thread.title%></a></td>
			      <td><%=thread.counter%></td>
			      <td><%=thread.upvotes%></td>
			      <td><img src="<%=image%>" class="ui tiny image"></td>
			      <td>
			      	<p><%= thread.name %></p>
							<p>1/3/2015</p>
			      </td>
			    </tr>
			    <% }) %>
			  </tbody>
			</table>

			<div class="ui inverted segment">
				<form class="ui inverted form" action='/forums/thread/<%=sub.subforums_id%>' method='POST'>
					<div class="field">
						<p>Start new thread</p>
    			   <label>Thread Title</label>
    			   <input placeholder="Title" type="text" name='name'>
    			   <label>Thread Description</label>
    			   <textarea placeholder="Description" type="text" name='text'></textarea>
    			 </div>
    			<button class="ui primary button">Submit</button>
				</form>
			</div>
		</div>
	</div>

		
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="/script.js"></script>	
</body>
</html>