<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="http://localhost:3000/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<div class="container">
		<div class="pure-g">
			
			
			<div class="pure-u-1-1">
				<nav class="pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item pure-menu-selected"><a href="/forums" class="pure-menu-link">Home</a></li>
						<li class="pure-menu-item pure-menu-selected"><a href="/login" class="pure-menu-link">Log out</a></li>
						<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
							<a href="#" id="menulink1" class="pure-menu-link">Sub Forums</a>
							<ul class="pure-menu-children">

							<% subs.forEach(function(sub){ %>
								<li class="pure-menu-item"><a href='/forums/<%=id%>/sub/<%=sub.subforums_id%>' class="pure-menu-link"> <%= sub.topic %>
									</a>
								</li>	
								<% }) %>

							</ul>
						</li>
					</ul>	
				</nav>
			</div>


			<div class="pure-u-1-1">
				<div class="pure-u-5-24">
				</div>
				<div class="pure-u-14-24 banner">
					<img class="pure-img" src="/banner.png">
				</div>
				<div class="pure-u-5-24">
				</div>
			</div>


			
			<div class="pure-u-1-1">
				<div class="pure-u-1-1 title">
					<h1 class="welcome">Welcome to the forum for <%= sub.topic %></h1>
				</div>
				<br><br>
				<div class="bar">
					
				</div>

				<div class="cont">
					<% threads.forEach(function(thread){ %>
					<div class="pure-u-21-24 threads">	
						<a href='/forums/<%=id%>/thread/<%=thread.threads_id%>' class="clickT"><p> <%=thread.title%> </p>
						</a>

						<p class="status"> &nbsp &nbsp	-posted by: <strong><%= thread.name %></strong>    ||    <i class="fa fa-thumbs-o-up"></i> <strong> <%=thread.upvotes%></strong>    ||    <i class="fa fa-comment"></i> <strong><%=thread.counter%></strong>
						</p><br><br>
						<hr>
					</div><br>
					<%	}) %>
					<br><br><br>
					
						<form action='/forums/<%=id%>/thread/<%=sub.subforums_id%>' method='POST' class="pure-form pure-form-stacked">
							<fieldset>
								<legend>Start new thread</legend>
								<label for='thread'>Thread title</label>
								<input type='text' name='name' placeholder='Title' id='thread'>
								<label for="desc">Thread Description</label>
								<textarea rows="4" cols="50" name="text" id="desc">
								</textarea><br><br>
								<button class="pure-button pure-button-primary">Start thread</button>
							</fieldset>	
						</form>
					
				</div>


			</div>

		</div>
	</div>	








	


		
	
</body>
</html>